.room {
  margin: 1.2rem, 0;
  padding: 1.5rem;
  background-color: #48a6a7;
  border-radius: 8px;
  animation-name: room-view;
  animation-duration: 1s;
}

@keyframes room-view {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
